@model Softvision.QA.App.Models.Answer
<div class="col-md-12" style="margin-top:-30px;">
    @using (Html.BeginForm("Answer", "Question", FormMethod.Post, new { id = "FormAnswerEditor"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.QuestionId)
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new Dictionary<string, object> { { "class", "control-label col-md-2" }, { "style", "visibility:hidden" } })
                <div class="col-md-12">
                    <div class="wmd-panel">
                        <div id="wmd-button-bar"></div>
                        @Html.TextAreaFor(model => model.Description, new Dictionary<string, object> { { "class", "form-control wmd-input" }, { "id", "answer_question_body" }, { "rows", "8" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Description)
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    @Html.HiddenFor(model => model.Preview, new Dictionary<string, object> { { "id", "wmd-hdn-preview" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Post Your Answer" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>